@font-face {
    font-family: FantasqueSansMonoRegular;
    src: url('../fonts/FantasqueSansMono-Regular.ttf');
}
@font-face {
    font-family: Bad Script;
    src: url('../fonts/BadScript-Regular.ttf');
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    color: #5294E2;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
    background-color: #323638;
}
a, a:hover, a:focus {
    color: inherit;
}
.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.clock {
    position: relative;
    color: inherit;
    font-size: 180px;
    font-weight: bold;
    font-family: 'FantasqueSansMonoRegular';
    width: 560px;
    margin: 0 auto;
}
.time {
    font-size: 40px;
    font-family: 'FantasqueSansMonoRegular';
    position: inherit;
    top: -94px;
}
.day1 {
    font-size: 40px;
    font-family: 'FantasqueSansMonoRegular';
    position: inherit;
    top: -60px;
    left: -34px;
}
.day2 {
    font-size: 40px;
    font-family: 'FantasqueSansMonoRegular';
    position: inherit;
    top: -30px;
    left: -55px;
}
.day3 {
    font-size: 40px;
    font-family: 'FantasqueSansMonoRegular';
    position: inherit;
    top: 0px;
    left: -77px;
}
.sites {
    padding: 40px 0px 0px 0px;
    width: 630px;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}
.greeting {
    font-family: 'FantasqueSansMonoRegular';
    font-size: 50px;
    color: #fff;
}
.greeting-name {
    font-family: 'FantasqueSansMonoRegular';
    font-size: 50px;
    color: #ffff00;
}
.sites > li {
    padding: 20px;
    font-size: 50px;
}
form {
    width: 724px;
    margin: 0 auto;
    padding-top: 50px;
}
input {
    background-color: inherit;
    border: 2px solid #5294E2;
    padding: 10px;
    width: 700px;
    font-size: 18px;
    color: #fff;
}
.ui-helper-hidden-accessible {
    display:none;
}
.ui-autocomplete {
    float: left;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: rgba(50, 54, 56, 0.8);
    border: 2px solid #5294E2;
    border-top-style: none;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #fff;
}
.ui-menu-item a.ui-state-focus {
    color: #ffffff;
    background-color: #5294E2;
}
.fa-quote-left, .fa-quote-right {
    color: #808080;
}
#quote {
    font-size: 22px;
    font-family: 'Bad Script';
    color: #808080;
}
.padding-right {
    padding-right: 40px;
}
.padding-left {
    padding-left: 40px;
}
